# Build folder and log file
build/
build.log
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nhat Minh Dep Trai Vai Lonnn=)))</title>
  </head>
  <body>
    hellu b gi do oi, nm dayy <br />
    <br />
    MOMO:0332311765 (Pham Doan Nhat Minh)
    <footer>
      <h3>
       
        mua bán acc MXH, Game(Lien Quan)    <br/>
        nhận nuôi clone, share tut nuôi clone  <br/>
        nhận buff tt trên các nền tảng MXH   <br/>
        <div>
          <a href="https://www.facebook.com/profile.php?id=100082012850129"> Link FB của nm:3</a>  
          </br>
        <img src= https://cdn.glitch.global/a7519e76-947b-4477-a66e-d5d5db12a40b/90da3aa6-3b14-432a-93d8-c3dd71a27ceb.z3682443046634_512dcc25cf0250eb7bc7dc3dfd331362.jpg?v=1661920514822 />
        
             
        </div> Lần đầu làm web còn xấu, mong bạn thông cảm nha!   </br>
      Thank youuu
      </h3>
    </footer>
  </body>
</html>
